doctype html
html
  head(lang="en")
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(charset='UTF-8')/
    title Glory Blades
  body
    #app
