/*** SASS vars ***/
$textOrange: #E97910;
$deepBlue: #0000FF;
$shadowColor: #888888;

/*** Mixin definitions ***/
@mixin borderStuffs {
  border: red 1px solid;
}

@mixin borderRadius {
  border-radius: 15px;
}

@mixin caveBackground {
  background: {
    image: url('resources/cave_background.jpg');
    position: 0 0;
    size: cover;
    repeat: no-repeat;
  }
}

@mixin inputCenterText {
  text-align: center;
  background-color: black;
  color: white;
}

@mixin logInInputBase {
  position: absolute;
  width: 80%;
  height: auto;
  left: 10%;
}

@mixin modeChoiceStyle {
  position: absolute;
  height: 90%;
  width: 30%;
  border-style: outset;
  animation: setDown 1s forwards;
  cursor: pointer;
  font-family: fantasy;
  font-size: 2em;

  &:hover {
    animation: pickUp 1s forwards;
  }
}

/*** Animation definitions ***/
@keyframes bounce {
  0% {
    box-shadow: 0px 0px 5px $deepBlue;
  }
  50% {
    box-shadow: 0px 0px 70px $textOrange;
  }
  100% {
    box-shadow: 0px 0px 5px $deepBlue;
  }
}

@keyframes pickUp {
  0% {
    box-shadow: 0px 0px 0px $shadowColor;
  }
  100% {
    box-shadow: 0px 0px 20px $shadowColor;
  }
}

@keyframes setDown {
  0% {
    box-shadow: 0px 0px 20px $shadowColor;
  }
  100% {
    box-shadow: 0px 0px 0px $shadowColor;
  }
}

@keyframes setHeaderDown {
  0% {
    box-shadow: 0px 0px 45px $shadowColor;
  }
  100% {
    box-shadow: 0px 0px 0px $shadowColor;
  }
}

@keyframes pickHeaderUp {
  0% {
    box-shadow: 0px 0px 0px $shadowColor;
  }
  100% {
    box-shadow: 0px 0px 45px $shadowColor;
  }
}

@keyframes lift {
  0% {
    box-shadow: 0px 0px 0px $shadowColor;
  }
  // 50% {
  //   box-shadow: 0px 0px 20px $shadowColor;
  // }
  100% {
    box-shadow: 0px 0px 20px $shadowColor;
  }
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

body{
  background-color: black;
}

/*** spalsh screen stuff ***/

#ss_main_div {
  @include caveBackground;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#ss_text {
    position: absolute;
    color: $textOrange;
    font-size: 2em;
    font-family: fantasy;
    text-align: center;
    bottom: 0;
    width: 100%;

}

#ss_image_div {
  position:absolute;
  width: 100%;
  height: 90%;
  left: 0;
  top: 0;
}

#splash_screen_image_id {
  animation: bounce 3s infinite;
  cursor: pointer;
  @include borderRadius;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

/*** LogInScreen stuff ***/
#login_master_div {
  position: absolute;
  @include caveBackground;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#login_form_div {
  position: absolute;
  @include borderRadius;
  animation: bounce 3s infinite;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 45%;
}

#username {
  @include borderRadius;
  @include inputCenterText;
  @include logInInputBase;
  top: 20%;
}

#password {
  @include logInInputBase;
  @include borderRadius;
  @include inputCenterText;
  top: 40%;
}

#login_button {
  position: absolute;
  @include borderRadius;
  @include logInInputBase;
  background-color: $shadowColor;
  margin-left: 3px;
  top: 60%;
}

#login_pic_div {
  position: absolute;
  width: 50%;
  height: 40%;
  left: 25%;
  top: 5%;
}

#login_screen_pic {
  position: absolute;
  width:90%;
  height: 90%;
  left: 5%;
  top: 5%;
}

/*** PlayerDashboard stuff ***/
#pdb_main_div {
  @include caveBackground;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#pdb_combatant_list_div {
  position: absolute;
  height: 90%;
  width: 30%;
  top: 5%;
  left: 5%;
}

#pdb_welcome_text_div {
  text-align: center;
  padding-top: 10px;
  font-size: 4em;
  color: $textOrange;
  font-family: fantasy;
  position: absolute;
  width: 55%;
  height: 15%;
  top: 5%;
  left: 40%;
}

#pdb_actions_container_div {
  position: absolute;
  width: 55%;
  height: 70%;
  top: 25%;
  left: 40%;
}

#pdb_quick_battle_div {
  @include modeChoiceStyle;
  @include borderRadius;
  left: 3%;
  top: 5%;
  background: {
    image: url('resources/battle_pic.jpg');
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

#pdb_story_mode_div {
  @include modeChoiceStyle;
  @include borderRadius;
  left: 35%;
  top: 5%;
  background: {
    image: url('resources/story_pic.jpg');
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

#pdb_settings_div {
  @include modeChoiceStyle;
  @include borderRadius;
  left: 67%;
  top: 5%;
  background: {
    image: url('resources/settings_pic.jpg');
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

.action_text {
  display:block;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  width: 100%;
  height: auto;
  top: 10%;
  left: 0;
  color: $textOrange;
}

.door_knob {
  position: absolute;
  top: 48%;
  left: 77%;
  width: 20%;
  height: 16%;
}
 /*** CombatantDisplay stuff ***/
 .combatant_display_info_div {
   position: relative;
   margin-left: 2%;
   width: 96%;
 }

 .combatant_display_image {
   position: absolute;
   left: 0;
   top: 0;
   width: 50%;
   height: 50%;
 }

 .combatant_display_info_div {
   position: absolute;
   @include borderRadius;
   left: 50%;
   height: 100%;
   width: 50%;
 }

 .combatant_display_info_name {
   position: relative;
   margin-top: 1%;
   height: 32%;
   width: 100%;
 }

 .combatant_display_info_class {
   position: relative;
   margin-top: 1%;
   height: 32%;
   width: 100%;
 }

 .combatant_display_info_gender {
   position: relative;
   margin-top: 1%;
   height: 32%;
   width: 100%;
 }

.combatant_display_div {
  position: relative;
  box-shadow: 0px 0px 70px #888888;
  @include borderRadius;
  padding: 10px;
  height: 18%;
  margin-top: 2%;
  color: $textOrange;
  font-family: fantasy;
}
